<h1> Segmenting and Clustering Neighborhoods in Toronto 2</h1>

In [1]:
#Import Libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

print ("Libraries imported!")

Libraries imported!

Web Scraping

In [2]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [3]:
soup = BeautifulSoup(source, 'xml')

In [4]:
table=soup.find('table')

In [5]:
#dataframe will have three columns: PostalCode, Borough, and Neighborhood
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [6]:
# Search all the postcode, borough, neighborhood 
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [7]:
df.head()

  Postalcode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

Data Cleaning

In [8]:
#Only processing the cells that have an assigned borough. Ignoring the cells with a borough that is Not assigned. Droping row where borough is "Not assigned"

df=df[df['Borough']!='Not assigned']

In [9]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
df[df['Neighborhood']=='Not assigned']=df['Borough']
df.head(10)

      Postalcode           Borough      Neighborhood
2            M3A        North York         Parkwoods
3            M4A        North York  Victoria Village
4            M5A  Downtown Toronto      Harbourfront
5            M6A        North York  Lawrence Heights
6            M6A        North York    Lawrence Manor
7   Queen's Park      Queen's Park      Queen's Park
9            M9A  Downtown Toronto      Queen's Park
10           M1B       Scarborough             Rouge
11           M1B       Scarborough           Malvern
13           M3B        North York   Don Mills North

In [10]:
#rows will be same postalcode will combined into one row with the neighborhoods separated with a comma
result = df.groupby(['Postalcode','Borough'], sort=False).agg( ', '.join)
result.head()

                                                   Neighborhood
Postalcode   Borough
M3A          North York                               Parkwoods
M4A          North York                        Victoria Village
M5A          Downtown Toronto                      Harbourfront
M6A          North York        Lawrence Heights, Lawrence Manor
Queen's Park Queen's Park                          Queen's Park

In [11]:
df_new=result.reset_index()
df_new.head(15)

,Postalcode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Harbourfront
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,Queen's Park,Queen's Park,Queen's Park
5,M9A,Downtown Toronto,Queen's Park
6,M1B,Scarborough,"Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens, Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson, Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."
12,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
13,M3C,North York,"Flemingdon Park, Don Mills South"
14,M4C,East York,Woodbine Heights

In [12]:
#use the .shape method to print the number of rows of your dataframe
df_new.shape

(103, 3)

In [14]:
!wget -q -O 'Toronto_geo_data.csv'  http://cocl.us/Geospatial_data
df_geo = pd.read_csv('Toronto_geo_data.csv')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [16]:
df_geo.columns=['Postalcode','Latitude','Longitude']
df_geo.head()

  Postalcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [19]:
df_toronto = pd.merge(df_new,
                 df_geo[['Postalcode','Latitude', 'Longitude']],
                 on='Postalcode')
df_toronto.head(12)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M9A,Downtown Toronto,Queen's Park,43.667856,-79.532242
5,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
6,M3B,North York,Don Mills North,43.745906,-79.352188
7,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
8,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
9,M6B,North York,Glencairn,43.709577,-79.445073
10,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724
11,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497